<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Local" connectionString="Server=SL-015070113957\SQLEXPRESS;Database=GTFS;Trusted_Connection=True;TrustServerCertificate=True;" />
    <!--<add name="Local" connectionString="Server=tcp:neoride-cs.database.windows.net,1433;Database=NeoRide_CustServ;Authentication=Active Directory Default;" />-->
	</connectionStrings>
  <appSettings>
    <add key="ApiUrl" value="https://www.go-metro.com/uploads/GTFS/google_transit_info.zip" />
    <add key="DefaultRequestHeaders" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36 Edg/131.0.0.0" />
    <!-- Routes -->
    <add key="RoutesInsertString" value="INSERT INTO [dbo].[routes] ([route_id], [agency_id], [route_short_name], [route_long_name], [route_desc], [route_type], [route_url], [route_color], [route_text_color]) VALUES (@Value1, @Value2, @Value3, @Value4, @Value5, @Value6, @Value7, @Value8, @Value9)" />
    <add key="RoutesSelectString" value="SELECT COUNT(*) FROM [dbo].[routes] WHERE [route_id] = @Value1 AND [agency_id] = @Value2 AND [route_long_name] = @Value3" />
    <add key="RoutesSelectAllString" value="SELECT * FROM [dbo].[routes]" />
    <!-- Trips -->
    <add key="TripsInsertString" value="INSERT INTO [dbo].[trips] ([route_id], [service_id], [trip_id], [trip_headsign], [direction_id], [block_id], [shape_id]) VALUES (@Value1, @Value2, @Value3, @Value4, @Value5, @Value6, @Value7)" />
    <add key="TripsSelectString" value="SELECT COUNT(*) FROM [dbo].[trips] WHERE [trip_id] = @Value1 AND route_id = @Value2 AND service_id = @Value3" />
    <add key="TripsSelectAllString" value="SELECT * FROM [dbo].[trips]" />
    <!-- Stops -->
    <add key="StopsInsertString" value="INSERT INTO [dbo].[stops] ([stop_id],[stop_code],[stop_name],[stop_desc],[stop_lat],[stop_lon],[zone_id],[stop_url],[location_type],[parent_station],[stop_timezone],[wheelchair_boarding]) VALUES (@Value1, @Value2, @Value3, @Value4, @Value5, @Value6, @Value7, @Value8, @Value9, @Value10, @Value11, @Value12)" />
    <add key="StopsSelectString" value="SELECT COUNT(*) FROM [dbo].[stops] WHERE [stop_id] = @Value1 AND stop_lat = @Value2 AND stop_lon = @Value3;" />
    <add key="StopsSelectAllString" value="SELECT * FROM [dbo].[stops]" />
    <!-- Stop Times -->
    <add key="StopTimesInsertString" value="INSERT INTO [dbo].[stop_times] ([trip_id],[arrival_time],[departure_time],[stop_id],[stop_sequence],[stop_headsign],[pickup_type],[drop_off_type],[shape_dist_traveled],[timepoint]) VALUES (@Value1, @Value2, @Value3, @Value4, @Value5, @Value6, @Value7, @Value8, @Value9, @Value10)" />
    <add key="StopTimesSelectString" value="SELECT COUNT(*) FROM [dbo].[stop_times] WHERE [trip_id] = @Value1 AND [departure_time] = @Value2 AND [stop_id] = @Value3" />
    <add key="StopTimesSelectAllString" value="SELECT * FROM [dbo].[stop_times]" />
    <!-- Calendar -->
    <add key="CalendarInsertString" value="INSERT INTO [dbo].[calendar] ([service_id],[monday],[tuesday],[wednesday],[thursday],[friday],[saturday],[sunday],[start_date],[end_date]) VALUES (@Value1, @Value2, @Value3, @Value4, @Value5, @Value6, @Value7, @Value8, @Value9, @Value10)" />
    <add key="CalendarSelectString" value="SELECT COUNT(*) FROM [dbo].[calendar] WHERE [service_id] = @Value1 AND [start_date] = @Value2 AND [end_date] = @Value3" />
    <add key="CalendarSelectAllString" value="SELECT * FROM [dbo].[calendar]" />
  </appSettings>
</configuration>
