<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GoMetroConnectionString" connectionString="Server=SL-015070113957\SQLEXPRESS;Database=GTFS;Trusted_Connection=True" />
	</connectionStrings>
  <appSettings>
    <add key="GTFSSourceURL" value="https://www.go-metro.com/uploads/GTFS/google_transit_info.zip" />
  </appSettings>
</configuration>
